<div class="about-body">


    <div class="main">
        <div class="main_header">

            <h1>About me</h1>
        </div>

        
       
            <div class="main_content_left">
                <label>
                    <h1>Basic info</h1>
                </label>
                <div class="main_info">
                    <ul>
                        <li>
                            <strong>Name </strong> - Rajan S
                        </li>
                        <li>
                            <strong>Location </strong> - I am working in lantrasoft.
                        </li>
                        <li>
                            <strong>Programming skills</strong> - Automation testing , selenium, core java, cucumber,
                            testng, Api testing.
                        </li>
                        <li>
                            <strong>Project</strong> - Purchase , transport , Suvya.
                        </li>
                        <li>
                            <span> <strong>Info</strong> - Hello this is Rajan. I like to play cricket and Table
                                tennis. For more details Pls Call below number:
                                <br> 7708095432.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main_content_right">
                <img src="../../assets/raj.JPG" width="250" />
            </div>
        

        <div class="main_nav">
            <h1>News Links</h1>
            <div>
                <ol>
                    <li> <a href="https://tamil.thehindu.com/" target="_blank">The hindu news</a></li>
                    <li><a href="http://www.puthiyathalaimurai.com/live-tv" target="_blank">puthiyathalaimurai live</a></li>
                    <li> <a href="https://news.google.co.in/" target="_blank">Google news</a></li>
                </ol>

            </div>
        </div>

        <div class="main_table">
            <hr>
            <p><em> Here's some information about my friends</em></p>
            <table border="1" style="witdh:200%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Occupation</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Deepika</td>
                        <td>Student</td>
                        <td>20</td>
                    </tr>

                    <tr>
                        <td>Vicky</td>
                        <td>Support eng</td>
                        <td>24</td>
                    </tr>

                    <tr>
                        <td>Anand</td>
                        <td>Rf eng</td>
                        <td>24</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
