.home-container{
    text-align: center;
    padding: 20px;
    color: greenyellow;
}

.home-container{
    display: block;
    margin: 100px auto;
    width: 60vw;
    background-color: #eee;
    padding: 20px 100px;
    border-radius: 10px;
}